<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goodbye countdown</title>
    <style>
    body {
      background-color: #000;
      margin: auto;
      padding: 200px;
      font: 30pt Verdana, Helvetica, Arial;
      color: #FFF;
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 60px;
      margin-top: 0px;
      font: 20pt Verdana,  Helvetica, Arial;
    }
    </style>
  </head>
  <body onload="setInterval(main, 1000);">
    <h3>Goodbye countdown</h3>
    <div id="countdowns"></div>
  </body>
  <script>
  // Each countdown definition goes here
  var countdowns = [
      {
        "name": "Marek",
        "date": new Date("Jun 30, 2020 16:00:00"),
        "excluded": [
            new Date("Jun 13, 2020"),
            new Date("Jun 14, 2020"),
            new Date("Jun 20, 2020"),
            new Date("Jun 21, 2020"),
            new Date("Jun 28, 2020"),
            new Date("Jun 19, 2020"),
            new Date("Jun 22, 2020"),
            new Date("Jun 23, 2020"),
            new Date("Jun 24, 2020"),
            new Date("Jun 25, 2020"),
            new Date("Jun 26, 2020")
          ]
      },
      {
        "name": "Szymon",
        "date": new Date("Jun 30, 2020 16:00:00"),
        "excluded": [
            new Date("Jun 13, 2020"),
            new Date("Jun 14, 2020"),
            new Date("Jun 20, 2020"),
            new Date("Jun 21, 2020"),
            new Date("Jun 28, 2020"),
        ]
      }
    ];

  function timeDeltaToString(distance) {
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    return days + "d " + hours + "hr "+ minutes + "min and " + seconds + "sec";
  }

  function updateCountdowns(cnt) {
    // Clear div
    document.getElementById("countdowns").innerHTML = "";
    var now = new Date();
    // Go thru each countdown and calculate how much days left
    cnt.forEach(function(item) {
      // Delta without excluded days
      var timeDelta = item["date"].getTime() - now.getTime();
      // Go thru excluded days and substract left time
      item["excluded"].forEach(function(ditem) {
        if (now.getTime() < ditem.getTime()) {
          // Get diff between that date
          var excludedDayDiff = ditem.getTime() - now.getTime();
          // If it's more than one day then substract one day, if it's less, substract delta
          if (excludedDayDiff >= 86400000) {
            timeDelta -= 86400000;
          } else {
            timeDelta -= excludedDayDiff;
          }
        }
      });
      document.getElementById("countdowns").innerHTML += "<p>" + item["name"] + " will be leaving in " + timeDeltaToString(timeDelta) + "</p>";
    });
  }
  function main() {
    updateCountdowns(countdowns);
  }
  </script>
</html>

