<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goodbye countdown</title>
    <style>
    body {
      background-color: #000;
      margin: auto;
      padding: 200px;
      font: 30pt Verdana, Helvetica, Arial;
      color: #FFF;
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 60px;
      margin-top: 0px;
      font: 20pt Verdana,  Helvetica, Arial;
    }
    img {
      width: 50%;
    }
    </style>
  </head>
  <body onload="setInterval(main, 1000);">
    <h3>Goodbye countdown</h3>
    <div id="countdowns"></div>
    <img src="/leavers.png" alt="leavers" />
  </body>
  <script>
    
  function timeDeltaToString(distance) {
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (60 * 60 * 8));
    var hours = Math.floor((distance % (60 * 60 * 8)) / (60 * 60));
    var minutes = Math.floor((distance % (60 * 60)) / 60);
    var seconds = Math.floor((distance % (60)));
    return days + "d " + hours + "hr "+ minutes + "min and " + seconds + "sec";
  }
  var dict = {{ secondsleft | safe }};

  function main() {
    var now = new Date().getHours();
    document.getElementById("countdowns").innerHTML = "";
    for (name in dict){
      document.getElementById("countdowns").innerHTML += "<p>" + name +"'s working time left: " + timeDeltaToString(dict[name]) + "</p>";
      //count only during working hours
      if (now > 8 && now < 16 ) dict[name]--;
    }
  }
  </script>
</html>

